
/*Mobile FIRST */

.container-fluid {
    background-color: rgb(36, 36, 36);
}

.cabecera {
    justify-content: space-between;
    background-color: rgb(62, 62, 62);
    color: rgb(250,250,250);
}

.cabecera .cabeceralogo {
    height: 50px;
    width: auto;
    margin: 10px;
}

.cabecera .titulo {
    font-size: 18px;
    font-weight: bolder;
    color: rgb(200, 200, 200);
}

.fotosDePortada {
    padding: 20px;
}

.fotosDePortada .fotoPortadaHorizontal {
    width: 450px;
    height: auto;
    border-radius: 25px;
    padding-bottom: 10px;
}

.fotosDePortada .fotoPortadaVertical {
    width: 450px;
    height: auto;
    border-radius: 25px;
    padding-bottom: 10px;
}

.accordion .accordion-item .accordion-header .accordion-button {
    color: rgb(36, 36, 36);
    font-size: 16px;
}

.accordion .accordion-item .cintoAmarillo {
    background: rgb(255, 255, 0);
}

.accordion .accordion-item .cintoPuntaAmarilla {
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(239,255,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(239,255,0,1) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(239,255,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#efff00",GradientType=1);
}

.accordion .accordion-item .accordion-collapse .accordion-body {
    background-color: rgb(36, 36, 36);
}

.accordion .accordion-item .accordion-collapse .accordion-body .contenidoEvento {
    justify-content: center;
    color: rgb(250,250,250);
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
}

.accordion .accordion-item .accordion-collapse .accordion-body .contenidoEvento .subtitulo{
    background-color: rgb(62, 62, 62);
    border-radius: 15px;
}

/*Multimedia Vertical */
.accordion .accordion-item .accordion-collapse .accordion-body .contenidoEvento .foto {
    height: auto;
    width: 60vw;
    border-radius: 25px;
    margin-bottom: 15px;
    transition: width 2s;
}

.accordion .accordion-item .accordion-collapse .accordion-body .contenidoEvento .foto:hover {
    height: auto;
    width: 90vw;
}

.accordion .accordion-item .accordion-collapse .accordion-body .contenidoEvento .videoVertical {
    height: auto;
    width: 60vw;
    border-radius: 25px;
    margin-bottom: 15px;
    transition: width 2s;
}

.accordion .accordion-item .accordion-collapse .accordion-body .contenidoEvento .videoVertical:hover {
    height: auto;
    width: 90vw;
    margin-bottom: 15px;
}

/*Multimedia Horizontal*/
.accordion .accordion-item .accordion-collapse .accordion-body .contenidoEvento .fotoHorizontal {
       height: auto;
       width: 60vw;
       margin-bottom: 20px;
       border-radius: 25px;
       transition: width 2s;
   }
   
.accordion .accordion-item .accordion-collapse .accordion-body .contenidoEvento .fotoHorizontal:hover {
       height: auto;
       width: 90vw;
   }

.accordion .accordion-item .accordion-collapse .accordion-body .contenidoEvento .videoHorizontal {
    height: auto;
    width: 60vw;
    border-radius: 20px;
    margin-bottom: 15px;
    transition: width 2s;
}

.accordion .accordion-item .accordion-collapse .accordion-body .contenidoEvento .videoHorizontal:hover {
    height: auto;
    width: 90vw;

}


/* DESKTOP VIEW */

@media screen and  (min-width: 1200px) { 

    .cabecera .cabeceralogo {
        height: 25vh;
        width: auto;
        margin: 10px;
    }

    .cabecera .titulo {
        font-size: 6vh;
        text-align: center;
        padding-top: 5vw;
    }

    .fotosDePortada {
        justify-content: space-between;

    }

    .fotosDePortada .fotoPortadaVertical {
        width: 45vw;
        margin-right: 50px;
    }

    .fotosDePortada .fotoPortadaHorizontal {
        width: 45vw;
        margin-left: 50px;
    }

    .accordion .accordion-item .accordion-header .accordion-button {
        color: rgb(36, 36, 36);
        font-size: 42px;
    }

    .accordion {
        padding-top: 50px;
        color: rgb(36,36,36);
        font-size: 28px;
        text-align: center;
    }
    
    .accordion .accordion-item .accordion-collapse .accordion-body .contenidoEvento .foto {
        height: 40vw;
        width: auto;
        margin-bottom: 40px;
        transition: box-shadow 2s, height 2s;

    }
    
    .accordion .accordion-item .accordion-collapse .accordion-body .contenidoEvento .foto:hover {
        height: 45vw;
        width: auto;
        box-shadow: 15px 15px 5px rgb(63, 63, 63);
    }
    
    .accordion .accordion-item .accordion-collapse .accordion-body .contenidoEvento .fotoHorizontal {
        height: 900px;
        width: auto;
        margin-bottom: 40px;
        border-radius: 15px;
        transition: height 2s;
    }
    
    .accordion .accordion-item .accordion-collapse .accordion-body .contenidoEvento .fotoHorizontal:hover {
        height: 1200px;
        width: auto;
        box-shadow: 15px 15px 5px rgb(63, 63, 63);
    }

    .accordion .accordion-item .accordion-collapse .accordion-body .contenidoEvento .videoVertical {
        height: 40vw;
        width: auto;
        border-radius: 20px;
        margin-bottom: 40px;
        transition: box-shadow 2s, height 2s;
    }

    .accordion .accordion-item .accordion-collapse .accordion-body .contenidoEvento .videoVertical:hover {
        height: 45vw;
        width: auto;
        border-radius: 20px;
        margin-bottom: 40px;
        box-shadow: 15px 15px 5px rgb(63, 63, 63);
    }

    .accordion .accordion-item .accordion-collapse .accordion-body .contenidoEvento .subtitulo{
        border-radius: 10px;
        font-size: 36px;
        padding: 20px;
    }
}